<!doctype html>
<html>
<head>
    <title>ediFM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family:Verdana;
            color:#333333;
        }
        a {
            color:#339933;
        }
        a:hover {
            color:#66cc66;
        }
        .container {
            width:300px;
            margin:100px auto;
        }
        @media screen and (max-width: 959px) {
          .container {
            margin-top:24px;
            margin-bottom:0px;
          }
        }
        h1 {
            color:#66cc66;
            font-size:90px;
            text-align:center;
            margin:0px;
            padding:0px;
            margin-top:12px;
            margin-bottom:12px;
        }
        h2 {
            margin:0px;
            font-weight:normal;
            font-size:14px;
            text-align:center;
            color:#999999;
            margin-top:12px;
            margin-bottom:4px;
        }
        p {
            font-size:14px;
            text-align:center;
            color:#333333;
            margin-top:0px;
            margin-bottom:12px;
        }
        #listen-now {
            border:none;
            outline:none;
            background-color:#66cc66;
            color:#ffffff;
            font-size:24px;
            cursor:pointer;
            padding:12px 0px;
            width:300px;
            margin-top:12px;
            margin-bottom:12px;
        }
        #listen-now:hover {
            background-color:#77dd77;
        }
        .stream-link {
            text-align:center;
            display:block;
            margin-bottom:4px;
            font-size:14px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>ediFM</h1>
        <p>on a gorgeous afternoon in the park, all you need is the sound of ediFM</p>
        <p>lovely tunes, no commercials, good times</p>
        <button id="listen-now">&#x25b6; Listen now</button>
        <h2>currently playing</h2>
        <p id="currently-playing">
            <%= erb :_playing %>
        </p>
        <h2>stream links</h2>
        <p>
            <a class="stream-link" href="https://edifm.org/live.mp3">high quality (320kbps)</a>
            <a class="stream-link" href="https://edifm.org/low.mp3">low quality (128kbps)</a>
        </p>
        <h2>get in touch</h2>
        <p>got a set you'd like to hear on ediFM? send it through to <a href="mailto:contact@edifm.org">contact@edifm.org</a> :)</p>
    </div>
</body>
<script>
    (function() {
        var button = document.getElementById("listen-now");
        var audio = null;

        button.onclick = function() {
            if (audio) {
                audio.src = "";
                audio.pause();
                audio = null;
                button.innerHTML = "&#x25b6; Listen now";
            } else {
                button.innerHTML = "loading...";
                audio = new Audio("https://edifm.org/live.mp3");
                audio.play();
                audio.addEventListener("playing", function() {
                    button.innerHTML = "&#x25a0;";
                });
            }
        };

        function updatePlaying() {
            fetch("/_playing").then(request => {
                request.text().then(html => {
                    document.getElementById("currently-playing").innerHTML = html;
                })
            });
        }

        setInterval(updatePlaying, 30*1000);
    })();
</script>
</html>
